.nav-link {
    color: white;
}
.nav-link:hover {
    text-decoration: underline;
    color:aqua;
}

.nav-link:active {
    font: bold;
    text-decoration: underline;
}
.nav-link:visited {
    color: #FFD700;
}

.project-container {
    display: inline-block;
}

.project-image {
    width: 500px;
    height: 300px;
}

body {
    background-color: #222222;
    color: white;
}
#name {
    text-align: center;
}
#selfie {
    width: 800px;
    height: 700px;
}

.selfie-container {
    display: inline-block;
    text-align: center;
}

#link {
    color: #87CEEB;
}